<%- include('partials/header.ejs') %>
    <nav class="nav">
        <div class="login">
            <a href="/">
                <i class="fa-solid fa-house"></i>
            </a>
        </div>
        <div class="login">
            <a href="/login">
                <i class="fa-solid fa-right-to-bracket"></i>
            </a>
        </div>
    </nav>
    <main>
        <form action="/" method="post">
            <input type="text" name="firstName" placeholder="First Name" required>
            <input type="text" name="lastName" placeholder="Last Name" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" minlength="8" maxlength="16" required>
            <button type="submit" class="btn btn-success">SIGN UP</button>
            <a href="/login" class="btn btn-link">I'm already signup</a>
        </form>
    </main>
    <%- include('partials/footer.ejs') %>